<section>
  <h1>Universidad ficticia</h1>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Información general</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        La Universidad ficticia es una universidad privada ubicada en la ciudad de Buenos Aires, Argentina. Fue fundada en el año 2000 y ofrece una amplia gama de carreras universitarias, tanto de grado como de posgrado.
      </p>
      <p>
        La universidad cuenta con una moderna infraestructura que incluye aulas, laboratorios, biblioteca, gimnasio y residencia estudiantil. También ofrece una amplia gama de actividades extracurriculares para sus estudiantes, como deportes, arte y cultura.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Carreras</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Ingeniería en Informática</li>
        <li>Ingeniería en Sistemas</li>
        <li>Ciencias de la Computación</li>
        <li>Administración de Empresas</li>
        <li>Contabilidad</li>
        <li>Derecho</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Contacto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Dirección: Av. Corrientes xxxx, Buenos Aires, Argentina
      </p>
      <p>
        Teléfono: (011) 555-5555
      </p>
      <p>
        Correo electrónico: info@universidadficticia.com
      </p>
    </mat-card-content>
  </mat-card>


</section>